html {
  height: 100%;
}
* {
  font-family: STHeiti !important;
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100%;
}
.MuiButton-contained {
  text-transform: unset !important;
}

#app {
 height: 100%
}

#appcontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
